.cards {
    padding: 120px 0 5px;

    @media(max-width: 991px) {
        padding: 105px 0 3px;
    }

    @media(max-width: 767px) {
        padding: 90px 0 1px;
    }

    &.contact {
        padding: 30px 0 0;

        @media(max-width: 767px) {
            padding: 0;
        }

    }

    &__item {
        margin-bottom: 150px;

        @media(max-width: 991px) {
            margin-bottom: 120px;
        }

        @media(max-width: 767px) {
            margin-bottom: 90px;
        }

        &.brands {
            margin-bottom: 150px;

            @media(max-width: 991px) {
                margin-bottom: 120px;
            }

            @media(max-width: 767px) {
                margin-bottom: 90px;
            }

        }

        &-text {
            padding-right: 45px;

            @media(max-width: 1199px) {
                padding-right: 30px;
            }

            @media(max-width: 767px) {
                padding-right: 15px;
            }

            .title {
                margin-bottom: 15px;

                a {

                    &:hover {
                        color: inherit;
                    }

                }

                @media(max-width: 767px) {
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

            }

            .btn {
                margin-top: 20px;
                transform-origin: left center;

                @media(max-width: 767px) {
                    margin-top: 10px;
                }

            }

        }

        &-img {
            
            img {
                @extend .trans;
            }

            &-cont {
                overflow: hidden;
                @extend .trans;
                box-shadow: 6px 6px 0 0 $color-tertiary;

                &:hover {
                    transform: translateX(-4px) translateY(-4px);
                    box-shadow: 10px 10px 0 0 $color-tertiary;

                    img {
                        transform: scale(1.66) rotate(25deg);
                    }

                }

            }

            &+.cards__item-text {
                padding-right: 15px;
                padding-left: 45px;

                @media(max-width: 1199px) {
                    padding-left: 30px;
                }

                @media(max-width: 767px) {
                    padding-left: 15px;
                }

            }

        }
        
    }
    
}