.products {

    &__list {
        position: relative;
        padding: 40px 0 80px;

        @media(max-width: 767px) {
            padding: 20px 0 40px;
        }

        &.home {
            padding: 90px 0 100px;

            @media(max-width: 767px) {
                padding: 50px 0 60px;
            }

        }

        &-item {
            padding-top: 40px;
            padding-bottom: 40px;

            @media(max-width: 767px) {
                padding-top: 30px;
                padding-bottom: 30px;
            }

            @media(max-width: 575px) {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            &-content {
                position: relative;
                border: 4px solid transparent;
                overflow: hidden;
                @extend .trans;

                .onsale {
                    position: absolute;
                    top: 25px;
                    left: 10px;
                    transform: rotate(-30deg);
                    color: red;
                    font-size: 40px!important;
                    @extend .trans;
                }

                &-img {
                    padding: 15px 0;
                    overflow: hidden;
                    width: 100%;
                    padding-bottom: 100%;
                    position: relative;

                    img,
                    picture {
                        min-height: 250px;
                        @extend .trans;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);

                        @media(max-width: 991px) {
                            min-height: 200px;
                        }

                    }

                }

                &-text {
                    padding: 5px 15px 20px;
                    @extend .trans;

                    .title {
                        line-height: 1.3;
                    }

                    .price {
                        display: block;
                        position: relative;
                        color: $color-tertiary;
                        @extend .trans;

                        small {
                            color: $color-grey3!important;
                            font-size: 18px!important;

                            .woocommerce-Price-currencySymbol {
                                display: none!important;
                            }

                            .woocommerce-Price-amount,
                            .amount {
                                position: relative;

                                &:before,
                                &:after {
                                    width: calc(100% - 10px);
                                    height: 2px;
                                    content: '';
                                    background-color: red;
                                    position: absolute;
                                    top: 50%;
                                    margin-top: -1px;
                                    left: 5px;
                                    transform: rotate(-30deg);
                                    @extend .trans;
                                }

                                &:after {
                                    transform: rotate(30deg);
                                }

                            }

                            * {
                                color: $color-grey3!important;
                                font-size: 18px!important;
                            }

                        }

                        i {
                            color: $color-grey3!important;
                            font-size: 20px!important;
                            margin-left: -3px;
                            margin-right: 2px;
                        }

                    }

                }

            }

            &.outstock {

                .products__list-item-content {

                    .outstock {
                        position: absolute;
                        top: 30px;
                        left: 10px;
                        transform: rotate(-25deg);
                        font-size: 26px!important;
                        line-height: 1.21!important;
                        color: $color-grey4;
                        @extend .trans;
                    }

                    &-img {
                        opacity: 0.7;
                    }

                    &-text {

                        .title {
                            color: $color-grey4;
                        }

                        .price {
                            color: $color-yellow0;
                        }

                    }

                }

            }

            &:hover {

                .products__list-item-content {
                    border-color: $color-yellow2;

                    .onsale {
                        transform: translateX(64px) translateY(12px) scale(3) rotate(-15deg);
                    }

                    .outstock {
                        transform: translateX(45px) translateY(10px) scale(1.5) rotate(-10deg);
                    }

                    &-img {

                        > * {
                            transform: translateY(-50%) scale(2) rotate(30deg);
                        }

                    }

                    &-text {
                        background-color: $color-tertiary;

                        .price {
                            color: white;
                            transform: scale(1.3);
                        }

                    }

                }

                &.salesale {

                    .products__list-item-content {
                        border-color: darken( red, 15% );
    
                        &-text {
                            background-color: red;
    
                            .price {
                                color: white!important;

                                small {

                                    .woocommerce-Price-amount,
                                    .amount {
                                        position: relative;

                                        &:before,
                                        &:after {
                                            background-color: white!important;
                                        }

                                    }

                                }

                            }
    
                        }
    
                    }

                }

                &.outstock {

                    .products__list-item-content {
                        border-color: darken( $color-grey2, 15% );
    
                        &-text {
                            background-color: $color-grey2;
    
                            .price {
                                color: darken( $color-grey2, 20% )!important;
                            }
    
                        }
    
                    }

                }

            }

        }

        &-top {
            margin-bottom: 40px;
        }

        &-title {

            > * {
                line-height: 1!important;
                text-transform: uppercase;
                margin: 0;
            }

        }

        &-filter {
            display: flex;
            justify-content: flex-end;

            form {
                position: relative;
                margin-bottom: 0!important;

                @media(max-width: 991px) {
                    //margin-bottom: 6px;
                }

            }

            select {
                appearance: none;
                border-radius: 0;
                border: 2px solid black;
                padding: 6px 40px 6px 20px;
                font-size: 16px;
                font-weight: 700;
                min-width: 250px;
                cursor: pointer;
                background-color: white;
                outline: 0!important;

                @media(max-width: 767px) {
                    min-width: 200px;
                }

                &+i {
                    position: absolute;
                    pointer-events: none;
                    font-size: 22px;
                    color: black;
                    top: 10px;
                    right: 10px;
                }

            }

        }

    }

    &__single {
        //padding: 30px 0 0;

        @media(max-width: 991px) {
            padding: 20px 0 0;
        }

        > .container {
            position: relative;
        }

        .onsale {
            position: absolute;
            color: red;
            top: 40px;
            left: -20px;
            transform: rotate(-15deg);
            z-index: 99;
            font-size: 64px!important;
            pointer-events: none;
        }

        &-slider {
            padding-right: 30px;

            @media(max-width: 991px) {
                padding-right: 0;
            }

            .carousel-item {
                cursor: zoom-in;
            }

            .carousel-control-next-icon, 
            .carousel-control-prev-icon {
                width: 32px;
                height: 32px;
                margin-top: -84px;

                @media(max-width: 767px) {
                    width: 24px;
                    height: 24px;
                }

            }

            .carousel-control-next-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
            }

            .carousel-control-prev-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
            }

            .carousel-indicators {
                position: relative;
                margin: 10px auto;
                bottom: auto;
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 64px;
                    height: 64px;
                    padding: 4px;
                    margin: 10px;
                    background-color: white;
                    opacity: 1;
                    vertical-align: middle;
                    border: 1px solid $color-tertiary;
                    opacity: 0.6;

                    @media(max-width: 767px) {
                        width: 50px;
                        height: 50px;
                        margin: 5px;
                    }

                    &.active {
                        opacity: 1;
                        padding: 3px;
                        border-width: 2px;
                    }

                }

            }

        }

        &-text {

            @media(max-width: 991px) {
                margin-top: 50px;
            }

            .price {
                margin-top: 80px;

                small {
                    color: $color-grey3!important;
                    font-size: 24px!important;
                    display: block;
                    margin-bottom: 10px;
                    font-weight: 700!important;

                    .woocommerce-Price-currencySymbol {
                        display: none!important;
                    }

                    .woocommerce-Price-amount,
                    .amount {
                        position: relative;

                        &:before,
                        &:after {
                            width: calc(100% - 10px);
                            height: 3px;
                            content: '';
                            background-color: red;
                            position: absolute;
                            top: 50%;
                            margin-top: -2px;
                            left: 5px;
                            transform: rotate(-35deg);
                            @extend .trans;
                        }

                        &:after {
                            transform: rotate(35deg);
                        }

                    }

                    * {
                        color: $color-grey3!important;
                        font-size: 24px!important;
                    }

                }

                @media(max-width: 1199px) {
                    margin-top: 50px;
                }

                &+.stock.out-of-stock {
                    color: white;
                    font-weight: 700;
                    font-size: 20px;
                    background-color: red;
                    padding: 1px 10px 4px;
                    line-height: 1.21;
                    display: inline-block;
                }

            }

            .specs {
                margin-top: 30px;
                margin-bottom: 30px;

                @media(max-width: 1199px) {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                .select {
                    position: relative;
                    display: inline-block;

                    label {
                        font-weight: 700;
                        display: none;
                        position: absolute;
                        top: -1.75em;
                    }

                    select {
                        appearance: none;
                        border-radius: 0;
                        border: 2px solid black;
                        padding: 6px 42px 6px 20px;
                        font-size: 16px;
                        font-weight: 700;
                        cursor: pointer;
                        background-color: white;
                        outline: 0!important;
    
                        &+i {
                            position: absolute;
                            pointer-events: none;
                            font-size: 22px;
                            color: black;
                            top: 10px;
                            right: 10px;
                        }
                        
                    }

                }

            }

            .addtocart {
                display: flex;
                align-items: center;
                position: relative;
                margin-top: 20px;
            
                @media(max-width: 1199px) {
                    margin-top: 15px;
                }

                .number {
                    position: relative;
                    display: inline-block;
                    margin-right: 20px;

                    @media(max-width: 1199px) {
                        margin-right: 15px;
                    }

                    input {
                        appearance: none;
                        border-radius: 0;
                        border: 2px solid black;
                        font-size: 18px;
                        font-weight: 700;
                        background-color: white;
                        outline: 0!important;
                        padding: 8px 30px 8px 8px;
                        width: 100%;
                        max-width: 72px;
    
                        &+i {
                            position: absolute;
                            font-size: 18px;
                            color: black;
                            top: 4px;
                            right: 8px;
                            cursor: pointer;

                            &+i {
                                position: absolute;
                                font-size: 18px;
                                color: black;
                                top: 24px;
                                right: 8px;
                                cursor: pointer;
                            }

                        }
                        
                    }

                    .fa-chevron-up {
                        position: absolute;
                        font-size: 18px;
                        color: black;
                        top: 2px;
                        right: 2px;
                        cursor: pointer;
                        background-color: $color-tertiary;
                        padding: 1px 4px 3px 4px;
                    }

                    .fa-chevron-down {
                        position: absolute;
                        font-size: 18px;
                        color: black;
                        top: 23px;
                        right: 2px;
                        cursor: pointer;
                        background-color: $color-tertiary;
                        padding: 3px 4px 1px 4px;
                    }

                }

            }

            .shipping {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-top: 30px;

                @media(max-width: 1199px) {
                    margin-top: 20px;
                }

                i {
                    font-size: 36px;
                    width: 45px;
                    -webkit-text-fill-color: $color-tertiary;
                    -webkit-text-stroke-width: 2px;
                    -webkit-text-stroke-color: black;
                }

                span {
                    margin-left: 20px;
                    color: $color-grey4;

                    strong {
                        margin-right: 2px;
                        color: black;
                        font-size: 24px;
                        line-height: 1;
                        font-weight: 700;
                    }

                }

            }

        }

        &-more {
            margin-top: 150px;
            background-color: $color-grey1;
            padding: 80px 0 60px;
            border-top: 2px solid $color-tertiary;

            @media(max-width: 991px) {
                margin-top: 120px;
                padding-bottom: 50px;
            }

            @media(max-width: 767px) {
                padding-bottom: 40px;
            }

            @media(max-width: 575px) {
                margin-top: 60px;
                padding-top: 0;
                border-top: none;
                padding-bottom: 30px;
            }

            .nav-tabs {
                margin-top: -132px;
                border: none;

                @media(max-width: 767px) {
                    margin-top: -124px;
                }

                @media(max-width: 575px) {
                    margin-top: 0;
                    margin-left: -15px;
                    margin-right: -15px;
                    background-color: $color-grey1;
                }

                .nav-link {
                    border: none;
                    border-radius: 0;
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: 700;
                    padding: 15px 25px;
                    line-height: 1;
                    border: 2px solid transparent;
                    border-bottom: none;
                    position: relative;
                    color: $color-grey4;

                    @media(max-width: 767px) {
                        font-size: 16px;
                        padding: 12px 20px;
                    }

                    @media(max-width: 575px) {
                        border: none;
                        display: block;
                        width: 100%;
                        border-bottom: 2px solid $color-grey2;
                    }

                    &:after {
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        right: 0;
                        height: 2px;
                        width: 100%;
                        content: '';
                        display: block;
                        background-color: $color-tertiary;
                        z-index: 99;

                        @media(max-width: 575px) {
                            display: none;
                        }

                    }

                    &:hover {
                        background-color: $color-grey1;
                        color: black;

                        @media(max-width: 575px) {
                            background-color: transparent;
                        }

                    }

                    &.active {
                        background-color: $color-grey1;
                        color: $color-tertiary;
                        border-color: $color-tertiary;

                        @media(max-width: 575px) {
                            color: black;
                            background-color: $color-tertiary;
                        }

                        &:after {
                            background-color: $color-grey1;

                            @media(max-width: 575px) {
                                display: none;
                            }

                        }

                    }

                }

            }

            .tab-pane { 
                padding: 60px 0 0;

                @media(max-width: 991px) {
                    padding: 50px 0 0;
                }

                @media(max-width: 767px) {
                    padding: 40px 0 0;
                }

                @media(max-width: 575px) {
                    padding: 30px 0 0;
                }

                ul,
                li,
                a,
                p,
                span {
                    font-family: $font-tertiary;
                }

                ul {
                    margin: 24px 0;
                    list-style-type: square;

                    li {
                        line-height: 1.44;
                        padding: 3px 0;
                    }
                    
                }

                table {
                    font-size: 18px;

                    @media(max-width: 991px) {
                        font-size: 15px;
                    }

                    thead {
                        background-color: black;
                        color: white;
                        text-transform: uppercase;

                        th {
                            padding: 10px 20px;

                            @media(max-width: 991px) {
                                padding: 8px 15px;
                            }

                        }

                    }

                    tbody {
                        font-family: $font-tertiary;
                        font-weight: 500;

                        tr:nth-child(2n) {
                            
                            th,
                            td {
                                background-color: $color-grey2;
                            }

                        }

                        th,
                        td {
                            padding: 15px 20px;

                            @media(max-width: 991px) {
                                padding: 8px 15px;
                            }

                        }

                    }

                }

            }

        }

        &-share {
            background-color: $color-grey2;
            padding: 7px 0;

            @media(max-width: 991px) {
                padding: 15px 0 7px;
            }

            .title {
                margin: 0;

                @media(max-width: 991px) {
                    margin-bottom: 5px;
                }

            }

            ul {
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                @media(max-width: 991px) {
                    margin-left: -8px;
                }

                li {
                    padding: 8px;

                    a {
                        font-size: 24px;

                        &:hover {
                            text-decoration: none;
                        }

                        i {
                            display: block;
                            width: 36px;
                            height: 36px;
                            text-align: center;
                            line-height: 36px;
                            color: white;

                            &.fa-facebook-f {
                                background-color: #3b5998;
                            }

                            &.fa-facebook-messenger {
                                color: #1877f2;
                                background-color: white;
                            }

                            &.fa-instagram {
                                background-color: #c32aa3;
                            }

                            &.fa-snapchat-ghost {
                                background-color: #fffc00;
                                color: black;
                            }

                            &.fa-whatsapp {
                                background-color: #25d366;
                            }

                            &.fa-twitter {
                                background-color: #1da1f2;
                            }

                            &.fa-pinterest-p {
                                background-color: #bd081c;
                            }

                            &.fa-linkedin-in {
                                background-color: #007bb5;
                            }

                            &.fa-at {
                                background-color: black;
                            }

                        }

                    }

                }

            }

        }

        &-related {
            padding: 80px 0;
        }

        &-modal {

            .modal-dialog {
                max-width: 92vw;
                margin: 30px auto;
                height: 100%;
                min-height: calc(100% - 60px);
                max-height: calc(100% - 60px);
            }

            .modal-content {
                border-radius: 0;
                border: none;
                width: auto;
                max-width: 100vw;
            }

            .modal-body {
                display: none;
                padding: 1.5rem;

                &.visible {
                    display: block;
                }

            }

            .close {
                position: absolute;
                top: -11px;
                right: 8px;
                font-size: 80px;
                z-index: 99;
                outline: 0!important;
            }

            .bg-cover {
                width: auto;
                /* min-width: 100%; */
                height: auto;
                max-width: initial;
                margin: auto;
                overflow: initial;
            }

        }

    }

}