.team {

    &__header {
        padding: 40px 0;
    }

    &__people {
        margin: 30px 0 100px;

        &-person {
            overflow: hidden;

            .person-img {
                padding: 15px 0;
                overflow: hidden;
                width: 100%;
                padding-bottom: 100%;
                position: relative;
                background-color: black;

                img,
                picture {
                    min-height: 250px;
                    @extend .trans;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);

                    @media(max-width: 991px) {
                        min-height: 200px;
                    }

                }

            }

            .socials {
                position: absolute;
                top: 60px;
                left: 0;
                transform: translateX(-100%);
                @extend .trans;

                a {
                    display: block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    color: black;
                    background-color: $color-gold;
                    text-align: center;
                    margin-top: 5px;

                    i {
                        line-height: 40px;
                        font-size: 25px;
                    }

                }
                
            }

            .person-text {

                h2 {
                    padding: 3px 10px;
                    background-color: $color-gold;
                    display: inline-block;
                    transform: translateY(-100%);
                }

            }

            &:hover {

                .person-img {

                    > img {
                        transform: translateY(-50%) scale(1.5) rotate(10deg);
                        opacity: 0.75;
                    }

                }

                .socials {
                    transform: translateX(0);
                }

            }

        }

    }

}