.main-navigation.shop_page + .breadcrumbs {
    margin-top: 40px;

    @media(max-width: 1199px) {
        margin-top: 28px;
    }

    @media(max-width: 991px) {
        margin-top: 20px;
    }

    @media(max-width: 767px) {
        margin-top: 0;
    }

}

.breadcrumbs {
    padding: 30px 0;

    @media(max-width: 767px) {
        padding: 12px 0;
    }

    .col-12 {

        > span {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 0;
            margin-left: -8px;
            color: $color-grey3;

            @media(max-width: 767px) {
                margin-left: -5px;
            }

            * {
                line-height: 1!important;
                vertical-align: 1px!important;
                font-size: 14px!important;
                font-weight: 700!important;
            }

            > span {
                padding: 0 8px;
                color: $color-grey4!important;
                line-height: 1;
                vertical-align: middle;

                @media(max-width: 767px) {
                    padding: 0 5px;
                }

                > a {
                    font-size: 14px;
                    font-weight: 700;
                    color: $color-grey3;

                    @media(max-width: 767px) {
                        font-size: 13px;
                    }

                }

                .breadcrumb_last {
                    color: $color-grey4!important;
                }

            }

        }

    }

    // ul {
    //     list-style: none;
    //     display: flex;
    //     flex-wrap: wrap;
    //     padding: 0;
    //     margin-left: -8px;

    //     @media(max-width: 767px) {
    //         margin-left: -5px;
    //     }

    //     li {
    //         padding: 0 8px;
    //         color: $color-grey3;
    //         line-height: 1;
    //         vertical-align: middle;

    //         @media(max-width: 767px) {
    //             padding: 0 5px;
    //         }

    //         a {
    //             font-size: 14px;
    //             font-weight: 700;
    //             color: $color-grey3;
    //             vertical-align: 1px;

    //             @media(max-width: 767px) {
    //                 font-size: 13px;
    //             }

    //         }

    //     }

    // }

}