.cards {
    padding: 80px 0 5px;

    @media(max-width: 767px) {
        padding: 60px 0 1px;
    }

    &__item {
        margin-bottom: 100px;

        @media(max-width: 767px) {
            margin-bottom: 60px;
        }

        &-text {
            padding-right: 45px;

            @media(max-width: 1199px) {
                padding-right: 30px;
            }

            @media(max-width: 767px) {
                padding-right: 15px;
            }

            .title {
                margin-bottom: 15px;

                @media(max-width: 767px) {
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

            }

            .btn {
                margin-top: 20px;
                transform-origin: left center;

                @media(max-width: 767px) {
                    margin-top: 10px;
                }

            }

        }

        &-img {
            
            img {
                transition: all 300ms ease;
            }

            &-cont {
                overflow: hidden;
                transition: all 300ms ease;
                box-shadow: 6px 6px 0 0 $color-tertiary;

                &:hover {
                    transform: translateX(-4px) translateY(-4px);
                    box-shadow: 10px 10px 0 0 $color-tertiary;

                    img {
                        transform: scale(2) rotate(30deg);
                    }

                }

            }

            &+.cards__item-text {
                padding-right: 15px;
                padding-left: 45px;

                @media(max-width: 1199px) {
                    padding-left: 30px;
                }

                @media(max-width: 767px) {
                    padding-left: 15px;
                }

            }

        }
        
    }
    
}