.woocommerce-cart-form__contents,
.woocommerce table.shop_table {
    border-radius: 0;
    //border: none;

    thead {
        border-bottom: 2px solid black;
    }

    tbody {
        
        td,
        label {
            font-family: $font-tertiary;
        }

    }

}

.woocommerce-cart table.cart img {
    width: 64px;
}