.home {

    &__header {
        max-height: 80vh;
        min-height: 80vh;
        display: flex;
        background-color: black;

        &-slider {
            min-height: 100%;
            min-width: 100vw;
            display: flex;

            .carousel-inner {
                min-height: 100%;
                min-width: 100vw;
                display: flex;

                .carousel-item {

                    img {
                        opacity: 0.7;
                    }

                }

                .carousel-caption {
                    bottom: auto;
                    top: 50%;
                    left: 50%;
                    right: auto;
                    transform: translateX(-50%) translateY(-50%);

                    h1,
                    .text-size-xxxxlarge {
                        text-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.5);
                        text-transform: uppercase;
                    }

                    .btn {
                        margin-top: 30px;
                    }

                }

            }

            .carousel-control-next-icon, 
            .carousel-control-prev-icon {
                width: 48px;
                height: 48px;
            }

            .carousel-indicators {
                margin-bottom: 30px;

                li {
                    width: 48px;
                    height: 4px;
                    margin-left: 10px;
                    margin-right: 10px;
                    background-color: white;
                    opacity: 1;
                    vertical-align: middle;

                    &.active {
                        background-color: $color-tertiary;
                        height: 8px;
                        margin-top: -2px;
                    }

                }

            }

        }

    }

    &__insta {
        padding: 80px 0;

        &-title {

        }

        &-grid {

            &-item {
                padding-bottom: 30px;

                &-cont {
                    overflow: hidden;
                    transition: all 300ms ease;
                    box-shadow: 4px 4px 0 0 $color-tertiary;

                    img {
                        transition: all 300ms ease;
                    }

                    &:hover {
                        transform: translateX(-4px) translateY(-4px);
                        box-shadow: 8px 8px 0 0 $color-tertiary;

                        img {
                            transform: scale(1.5) rotate(15deg);
                        }

                    }

                }

            }

        }

    }

}